# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------
SelfDefender_2022.pro
SelfDefender_2022.pro.user
sportsmens.xlsx
